@import url("https://fonts.googleapis.com/css2?family=League+Spartan:wght@100..900&display=swap");

* {
	font-family: League Spartan;
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html body {
	background-color: hsl(180, 52%, 96%);
}

header img {
	width: 100%;
	background-color: hsl(180, 29%, 50%);
}

.content-carrier .content {
	display: flex;
	background-color: #ffffff;
	align-items: center;
  justify-content: space-around;
}

.content-carrier .content .txt-1 {
	display: flex;
}

.content-carrier .content .txt-3 {
	display: flex;
}

.content-carrier .content .ctn{
  displ
}

.content-carrier {
	justify-content: space-around;
  margin: auto;
  max-width: 70%;
}
