@import url("https://fonts.googleapis.com/css2?family=League+Spartan:wght@100..900&display=swap");

* {
	font-family: League Spartan;
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html body {
	background-color: hsl(180, 52%, 96%);
}

header img {
	width: 100%;
	background-color: hsl(180, 29%, 50%);
}

.content-carrier .content {
	display: flex;
	background-color: #ffffff;
	align-items: center;
	justify-content: space-around;
	max-width: 55%;
	margin: auto;
	padding: 15px 5px 15px 5px;
	gap: 90px;
}

.content-carrier .content .txt-1 {
	display: flex;
}

.content-carrier .content .txt-3 {
	display: flex;
}

.content-carrier .content .ctn {
	display: flex;
	align-items: center;
}

.content .ctn img {
	margin-right: 25px;
}

.content .btn button {
	background-color: #ebf4f3;
	border: none;
	padding: 10px 5px 10px 5px;
	border-radius: 5px;
	color: #649d97;
	font-weight: 700;
	margin-right: 10px;
}

.content .txt-1 h4 {
	color: #649d97;
}

.content .txt-1 .p-1 {
	background-color: #649d97;
	margin-left: 10px;
	padding: 2px 5px 2px 5px;
	border-radius: 10px;
}

.content .txt-1 .p-2 {
	background-color: #2c3b38;
	margin-left: 10px;
	padding: 2px 5px 2px 5px;
	border-radius: 10px;
}

.content .txt-1 p {
	color: #ffffff;
	size\
}
